<% include header %>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center logoTopPad">
            <div id="contentBox" class="contentBoxNoBackground">
                <img id="logo" src="/img/logosmall.png" alt="" />
            </div>
            <div id="contentBox" class="contentBoxBackground">
                <p>&nbsp;<br /></p>
                <p id="inviteMessage">Hi, thanks for coming!<br />&nbsp;<br />Please enter your invite code below to view your invite.</p>
                <input type="text" class="centreFormElement textboxUpercase" id="txtInviteCode" placeholder="Enter Code Here">
            </div>
            <br>
            <a href="#" id="btnInviteSubmit" class="btn btn-dark btn-lg inviteButton">CONTINUE</a>
        </div>
    </header>

<% include footer %>