h1 {font-family: 'Bad Script', cursive; font-size:30px;}
@media only screen and (min-width: 768px) {
  #stdlarge img { width: 502px; height:337px;}
}

@media only screen and (max-width: 579px) {
  #stdlarge img { width:305px; height: 205px;}
}

.logoTopPad {padding-top:50px;}

.header {background: url(../img/web1920.jpg) no-repeat center center scroll;}
