h1 {font-family: 'Bad Script', cursive; font-size:30px;}

@media only screen and (min-width: 580px) {
    #contentBox { width: 40%; margin: auto; }
    #stdlarge img { width: 502px; height:337px;}
    .fullWidthFormElement { width: 50%; margin: 0 auto; }
}

@media only screen and (max-width: 579px) {
    #contentBox { width:100%; }
    #stdlarge img { width:305px; height: 205px;}
    .fullWidthFormElement { width: 90%; }
}

.logoTopPad {padding-top:50px;}

.header {background: url(../img/web1920.jpg) no-repeat center center scroll; background-size:cover;}
.headerFaded {
    background: url(../img/web1920.jpg) no-repeat center center scroll;
    background-size: cover;
}

#contentBox {
    border-radius:15px;
    padding: 15px;
    margin-bottom:15px;
    font-family: 'Arvo', serif;
    font-size: 20px;
    font-weight: bold; 
    color: #222;
}

.contentBoxNoBackground {
    background-color:none;
}

.contentBoxBackground {
    background-color: rgba(230,230,230,0.9);
}

img#logo {
    max-width:50%;
}

input[type="text"] {
    display: block;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    appearance: none;
    box-shadow: none; 
    border-radius: 15px;
}

textboxUppercase {
    text-transform: uppercase;
}

input[type="text"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
        border: solid 5px #969696;
}

.inviteButton {
    width: 40%;
    border-radius: 15px;
}

.centreFormElement {
    width: 100%;
    margin: 0;
}

.table > tbody > tr > td {
    vertical-align: middle;
}